@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'monument';
    src: url('/resources/assets/fonts/MonumentExtended-Regular.otf');
}

html {
    scroll-behavior: smooth;
    background-color: black;
  }


