@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'monument';
    src: url('/resources/assets/fonts/MonumentExtended-Regular.otf');
}

@font-face {
    font-family: 'roboto';
    src: url('/resources/assets/fonts/Roboto-Light.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
    background-color: white;
}


.active_file {
    border-color: rgb(182, 218, 182);
    box-shadow: 0 0 10px rgb(146, 205, 146);
}

.input:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

#musicPlayer {
    display: none;
}

#musicPlayer_pauseButton {
    display: none;
}

#musicPlayer_playButton {
    display: block;
}

.active {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #6EE7B7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-items: center;
    border-bottom-width: 8px;
    border-color: transparent;
}


